{%load static%}
<!DOCTYPE html>
<html lang="en">

<body>

    {% include "default/navbar.html" %} 

    <!-- Page Content -->
    
    <h2>Your registration is pending approval. You will be notified once approved.</h2>

    <!-- Page Content End -->

    {% include "default/footer.html" %}

    <!-- Start Script -->
    <script src="{% static 'assets/js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/templatemo.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <!-- End Script -->
</body>

</html>

